@use "../utils/" as u;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 2.2rem;
  font-family: var(--natoSans-font);
}

a {
  text-decoration: none;
}

.imgWrapper {
  display: flex;
  align-items: center;

  &__img {
    object-fit: contain;
    width: 100%;
    position: relative;
    height: unset;
  }
}
