:root {
  --white: #fff;
  --black: #1f343e;
  --grey: #6d7a80;
  --red: #ff0000;
  --lightBlue: #4eb3e3;
  --burgerBackground: #bdc1c3;
  --sectionBackgroundYellow: #f8cc5d;
  --sectionBackgroundDark: #45565e;
  --greyBackground: #f8f4f9;
}
