@use "../utils/" as u;

h1 {
  font-size: 2rem;
  font-family: var(--kalam-font);
  line-height: 3.2rem;
  margin: 0;

  @include u.breakpoint(desktop) {
    font-size: 3rem;
    line-height: 5rem;
  }
}

h2 {
  font-size: 2rem;
  font-family: var(--kalam-font);
  line-height: 3.2rem;
  margin: 0;

  @include u.breakpoint(desktop) {
    font-size: 1.8rem;
    line-height: 1rem;
  }
}

p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--grey);
  margin: 0;

  @include u.breakpoint(desktop) {
    // font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
