@use "../../../styles//utils/" as u;

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  &__line {
    width: 1.6rem;
    height: 0.4rem;
    background-color: var(--burgerBackground);
    border: 0.1rem solid var(--black);
    border-radius: 6.4rem;
    margin-bottom: 0.2rem;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }

  &__line.--active {
    &:nth-child(1) {
      transform: rotate(55deg);
    }
    &:nth-child(2) {
      transform: translateX(100%);
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-50deg);
    }
  }

  @include u.breakpoint(desktop) {
    display: none;
  }
}
